body {

    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ce36e999, #f1f1f1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(to right, #dda2e799, #62ade2a4);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.clock, .calendar, .notes {
    margin-bottom: 20px;
}

h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

textarea {
    position: inherit;
    width: 93%;
   resize: none;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(252, 230, 208);
    
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#time {
    font-size: 48px;
}

#date {
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #753aed73;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button {
    background: rgba(85, 2, 100, 0.742);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}